.wd-image-edit {
    opacity: 0.8;
    filter: grayscale(40%);
}

.wd-emphasis {
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.wd-normal {
    font-size: 15px;
    color: gray;
}

.wd-paragraph {
    font-size: 17px;
    color: white;
}

.wd-date-form {
    color: white;
    background-color: black;
    border: 0 solid black;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

/*positioning*/
.wd-zindex-bring-to-front {
    z-index: 10;
}

.border.wd-white-ex {
    border: 4px solid black !important;
}

.btn-outline-dark.wd-round {
    border-radius: 50px;
}

.btn-dark.wd-round {
    border-radius: 50px;
    background-color: white !important;
    font-weight: bold;
}

.wd-form-label {
    font-size: 20px;
}

.form-group.wd-style {
    border: 1px gray solid !important;
}


/*XS*/
@media (min-width: 0px) and (max-width: 575px) {
    .pos-profile {
        position: absolute;
        top: 50px;
        left: 30px;
    }

    /*image size*/
    .rounded-circle.wd-profile {
        width:120px;
        height:120px;
    }
}

/*S */
@media (min-width: 576px) and (max-width: 767px) {
    .pos-profile {
        position: absolute;
        top: 50px;
        left: 40px;
    }

    /*image size*/
    .rounded-circle.wd-profile {
        width: 120px;
        height:120px;
    }
}

/*M*/
@media (min-width: 768px) and (max-width: 991px) {
    .pos-profile {
        position: absolute;
        top: 90px;
        left: 50px;
    }

    /*image size*/
    .rounded-circle.wd-profile {
        width:150px;
        height:150px;
    }
}

/*L*/
@media (min-width: 992px) and (max-width: 1199px) {
    .pos-profile {
        position: absolute;
        top: 150px;
        left: 40px;
    }

    /*image size*/
    .rounded-circle.wd-profile {
        width:200px;
        height:200px;
    }
}

/*XL*/
@media (min-width: 1200px) and (max-width: 1399px) {

    .pos-profile {
        position: absolute;
        top: 150px;
        left: 45px;
    }

    /*image size*/
    .rounded-circle.wd-profile {
        width:230px;
        height:230px;
    }
}
@media (min-width: 1400px) {

    .pos-profile {
        position: absolute;
        top: 200px;
        left: 30px;
    }

    /*image size*/
    .rounded-circle.wd-profile {
        width:230px;
        height:230px;
    }
}